<style type="text/css">
.red{
  background: red;
  background-image: radial-gradient(brown, transparent);
  background-size: 5px 5px; 
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  animation: 13s red infinite;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
}

.green{
  background: green;
  background-image: radial-gradient(lime, transparent);
  background-size: 5px 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 2px;
  float: left;
  margin-right: 5px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
  animation: 13s green infinite;
}
.history {
	float: right;
}
</style>

<h2>Active Fermentations</h2>
<hr />

<div class="row">
	<div class="span5">
		<h3>Fermenter #1</h3>
		<div id="fermenter-1">
		</div>
		<h4>Fermenting: Saison Three Way - WLP568</h4>
		<br />
		<div>
			<div class="red"></div> <strong>Heater Off</strong> <a href="#">[override]</a>
		</div>
		<br />
		<a class="history" href="#">History...</a>
	</div>

	<div class="span5 offset1">
		<h3>Fermenter #2</h3>
		<div id="fermenter-2">
		</div>
		<h4>Fermenting: Saison Three Way - Brett</h4>
		<br />
		<div>
			<div class="green"></div> <strong>Heater On</strong> <a href="#">[override]</a>
		</div>
		<br />
		<a class="history" href="#">History...</a>
	</div>
</div>
