<div id="nav" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">RPi Ferment</a>
			<ul class="nav">
				<li><a id="profiles-nav" href="#profiles">Profiles</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="content" class="container"></div>
