<div id="{{fermenterId}}_heaterLight" class="heaterLight red"></div> <strong class="heaterState">Heater {{state}}</strong> <a id="{{fermenterId}}_heaterOverride" class="heaterOverride" href="#">[override]</a>
