<tr>
	<td>{{name}}</td>
	<td><a class="edit" title="Edit" href="#"><i class="icon-edit"></i></a></td>
	<td><a class="delete" title="Delete" href="#"><i class="icon-trash"></i></a></td>
	<td><a class="activate" href="#">activate</a></td>
	<td><a class="details" title="Details" href="#profile/{{_id}}"><i class="icon-ellipsis-horizontal"></i></a></td>
</tr>
