<h2>{{name}}</h2>
<div class="row">
	<div class="span4">
	</div>
	<div class="span4">
	</div>
</div>

<button class="edit" href="#">edit</button>
<button class="delete" href="#">delete</button>

<h4>Steps</h4>
<button class="add-step" class="btn btn-mini">Add Step</button>
<table id="steps">
</table>