<tr>
	<td>{{name}}</td>
	<td><a class="edit" href="#">edit</a></td>
	<td><a class="delete" href="#">delete</a></td>
	<td><a class="activate" href="#">activate</a></td>
	<td><a class="details" href="#profile/{{_id}}">details</a></td>
</tr>
