<tr>
	<td>{{name}}</td>
	<td class="edit">edit</td>
	<td class="delete">delete</td>
</tr>
<tr>
	<td colspan="3">Steps <button class="add-step" class="btn btn-mini">Add Step</button></td>
	<td>
		<ol>
			{{#each steps}}
				<li>{{this.name}}</li>
			{{/each}}
		</ol>
	<td>
</tr>