<tr>
	<td>{{name}}</td>
	<td><a class="edit" href="#">edit</a></td>
	<td><a class="delete" href="#">delete</a></td>
	<td><a class="activate" href="#">activate</a></td>
</tr>
<tr>
	<td colspan="3">Steps <button class="add-step" class="btn btn-mini">Add Step</button></td>
	<td>
		<ol id="steps">
		</ol>
 	</td>
 	<td></td>
 	<td></td>
</tr>