<li>{{name}} - {{duration}} {{unit}} @ {{temperature}} <a class="edit-step" title="Edit" href="#"><i class="icon-edit"></i></a> <a class="delete-step" title="Delete" href="#"><i class="icon-trash"></i></a></li>
