<div id="top-nav"></div>

<div id="alert-box" class="container"></div>

<div id="content" class="container"></div>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
</div>