<div id="nav" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">RPi Ferment</a>
			<ul class="nav">
				<li><a id="profiles-nav" href="#profiles">Profiles</a></li>
				<li><a id="new-profile-nav" href="#">New Profile</a></li>
				<li><a id="login-nav" href="#login">Login</a></li>
			</ul>
			<p class="navbar-text pull-right" title="Ambient Temperature" id="ambient-display"></p>
		</div>
	</div>
</div>

<div id="alert-box" class="container"></div>

<div id="content" class="container"></div>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
</div>