// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/

*
  box-sizing: border-box

.red
  background: red
  background-image: radial-gradient(brown, transparent)
  background-size: 5px 5px
  margin-top: 2px
  width: 15px
  height: 15px
  border-radius: 50%
  float: left
  margin-right: 5px
  animation: 13s red infinite
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red


.green
  background: green
  background-image: radial-gradient(lime, transparent)
  background-size: 5px 5px
  width: 15px
  height: 15px
  border-radius: 50%
  margin-top: 2px
  float: left
  margin-right: 5px
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime
  animation: 13s green infinite


.history
	float: right

.graph-profile-heading
  margin: 10px 0
  font-family: inherit
  font-weight: bold
  line-height: 20px
  color: inherit
  text-rendering: optimizelegibility
  font-size: 17.5px
